#canvas {
    display: block;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    
}

#center {
	display: block;
	margin-left: 10%;
	margin-right: 10%;
}
body {
    overflow: hidden;
    background-color: #ffff0d;
    font-family: monospace;
}
